<div class="content_post">
      <span class="name">
        <a href="/users/<%= animal.user.id %>">
        <%= animal.user.nickname %>
        </a>
      </span>
<%= link_to image_tag(animal.image, class: 'animalpic'),animal_path(animal.id) %>
      <p><%= animal.text %></p>
    </div>
