    <%= form_with(model: animal, local: true) do |form| %>

        AnimalPicture
        <span class="indispensable">必須</span>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= form.file_field :image, id:"animal-image" %>
    </div>
    テキスト
      <%= form.text_area :text, rows: "5" %>
      <%= form.submit "投稿" %>
    <% end %>