   <div id="splash">
    <div id="splash_logo">
    <%= image_tag 'logo.png', class:"fadeUp" %> 
    </div>
  </div>
<div class="contents row">
  <% @animals.each do |animal| %>
   <%= render partial: "animal", locals: { animal: animal } %>
  <% end %>
</div>
 <%= render partial: "sideber" %>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/js/4-1-4.js"></script>
